[data-theme='cyanida'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family:
		Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-tertiary-600);
	--anchor-font-color-dark: var(--color-tertiary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.375rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 2px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-900);
	--color-primary-50: oklch(96.2% 0.06 196.22deg);
	--color-primary-100: oklch(92.11% 0.08 204.11deg);
	--color-primary-200: oklch(88.4% 0.11 208.54deg);
	--color-primary-300: oklch(85.39% 0.13 211.55deg);
	--color-primary-400: oklch(82.57% 0.14 215.47deg);
	--color-primary-500: oklch(80.19% 0.15 220.1deg);
	--color-primary-600: oklch(73.43% 0.14 222.14deg);
	--color-primary-700: oklch(66.52% 0.13 224.6deg);
	--color-primary-800: oklch(59.73% 0.12 227.48deg);
	--color-primary-900: oklch(52.44% 0.11 231.24deg);
	--color-primary-950: oklch(44.9% 0.1 236.02deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(86.93% 0.05 300.58deg);
	--color-secondary-100: oklch(78.78% 0.09 303.91deg);
	--color-secondary-200: oklch(70.59% 0.13 304.71deg);
	--color-secondary-300: oklch(62.67% 0.17 303.99deg);
	--color-secondary-400: oklch(55.3% 0.21 302.78deg);
	--color-secondary-500: oklch(48.99% 0.23 300.38deg);
	--color-secondary-600: oklch(45.3% 0.21 299.54deg);
	--color-secondary-700: oklch(41.56% 0.19 298.48deg);
	--color-secondary-800: oklch(37.83% 0.17 296.13deg);
	--color-secondary-900: oklch(33.96% 0.15 294.16deg);
	--color-secondary-950: oklch(30.04% 0.13 291.41deg);
	--color-secondary-contrast-dark: oklch(0% 0 none);
	--color-secondary-contrast-light: oklch(100% 0 none);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(90.94% 0.08 328.26deg);
	--color-tertiary-100: oklch(83.27% 0.13 339.42deg);
	--color-tertiary-200: oklch(76.44% 0.18 345.49deg);
	--color-tertiary-300: oklch(70.89% 0.22 350.86deg);
	--color-tertiary-400: oklch(66.88% 0.25 355.9deg);
	--color-tertiary-500: oklch(64.7% 0.26 2.32deg);
	--color-tertiary-600: oklch(59.53% 0.24 1.52deg);
	--color-tertiary-700: oklch(54.04% 0.22 0.7deg);
	--color-tertiary-800: oklch(48.6% 0.2 359.38deg);
	--color-tertiary-900: oklch(42.8% 0.17 357.89deg);
	--color-tertiary-950: oklch(37.03% 0.15 355.51deg);
	--color-tertiary-contrast-dark: oklch(0% 0 none);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(92.17% 0.16 139.13deg);
	--color-success-100: oklch(85.43% 0.17 140.24deg);
	--color-success-200: oklch(78.97% 0.18 141.14deg);
	--color-success-300: oklch(72.22% 0.19 141.82deg);
	--color-success-400: oklch(65.84% 0.19 142.28deg);
	--color-success-500: oklch(59.26% 0.19 142.52deg);
	--color-success-600: oklch(52.89% 0.17 142.56deg);
	--color-success-700: oklch(46.33% 0.15 142.54deg);
	--color-success-800: oklch(39.51% 0.13 142.61deg);
	--color-success-900: oklch(32.38% 0.1 142.51deg);
	--color-success-950: oklch(24.69% 0.08 142.5deg);
	--color-success-contrast-dark: oklch(0% 0 none);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.1% 0.06 99.18deg);
	--color-warning-100: oklch(96.05% 0.08 99.78deg);
	--color-warning-200: oklch(95.06% 0.11 100.04deg);
	--color-warning-300: oklch(93.84% 0.13 100.18deg);
	--color-warning-400: oklch(92.97% 0.14 100.18deg);
	--color-warning-500: oklch(92.15% 0.16 100.08deg);
	--color-warning-600: oklch(85.58% 0.15 99.65deg);
	--color-warning-700: oklch(78.91% 0.15 99.06deg);
	--color-warning-800: oklch(72.1% 0.14 98.32deg);
	--color-warning-900: oklch(65.16% 0.13 97.22deg);
	--color-warning-950: oklch(58.05% 0.12 95.69deg);
	--color-warning-contrast-dark: oklch(0% 0 none);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-dark);
	--color-warning-contrast-950: var(--color-warning-contrast-dark);
	--color-error-50: oklch(90.63% 0.05 32.16deg);
	--color-error-100: oklch(84.19% 0.08 24.55deg);
	--color-error-200: oklch(77.94% 0.11 21.98deg);
	--color-error-300: oklch(72.4% 0.15 22.43deg);
	--color-error-400: oklch(67.24% 0.18 22.95deg);
	--color-error-500: oklch(63.16% 0.21 24.5deg);
	--color-error-600: oklch(58.83% 0.2 24.7deg);
	--color-error-700: oklch(54.51% 0.19 25.46deg);
	--color-error-800: oklch(49.87% 0.18 25.74deg);
	--color-error-900: oklch(45.39% 0.16 26.68deg);
	--color-error-950: oklch(40.77% 0.15 27.15deg);
	--color-error-contrast-dark: oklch(0% 0 none);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(97.02% 0 none);
	--color-surface-100: oklch(87.95% 0 287.19deg);
	--color-surface-200: oklch(78.67% 0 286.54deg);
	--color-surface-300: oklch(69.28% 0 271.46deg);
	--color-surface-400: oklch(59.39% 0.01 277.15deg);
	--color-surface-500: oklch(49.02% 0.01 278.52deg);
	--color-surface-600: oklch(44.35% 0.01 278.47deg);
	--color-surface-700: oklch(39.51% 0.01 277deg);
	--color-surface-800: oklch(34.3% 0.01 285.88deg);
	--color-surface-900: oklch(29.11% 0.01 285.87deg);
	--color-surface-950: oklch(23.72% 0.01 285.68deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
