@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

/* cyanida theme */
@font-face {
	font-family: 'InterMedium';
	src: url('/fonts/InterMedium.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'InterBold';
	src: url('/fonts/InterBold.ttf');
	font-display: swap;
}
